:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #29899e;
  --color-primary-light: #1d6474;
  --color-primary: #003145;
  --color-primary-dark: #ff8800;
  --color-primary-darker: #8996a0;
  --color-secundary: #29899e;
  --color-secundary-dark: #1d6474;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #8996a0;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base)
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%
  }
}